html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
}

.main {
  height: 100%;
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eeveecard {
  transition: all 1.5s ease;
}
.eeveecard:hover {
  transform: scale(1.1);
}